.cms-image-container .cms-image {
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;

    &::hover {
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -o-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);

    }

}
